.LogoContainer {
    font-weight: 500;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.LogoContainer p {
    background-color: transparent;
    font-size: 1.2rem;
}

#Logo {
    height: 50px;
    margin-right: 10px;
}

@media screen and (max-width: 680px) {
    .LogoContainer p{
        display: none;
    }
}