#payment-input-container {
  background-color: yellow;
  height: 100vh;
  width: 100%;
}

#PaymentContainer{
  margin-top: 120px;
  margin-inline: auto;
  padding: 12px;
  width: 50%;
  height: 40vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  filter: blur();
  color: #000;
}

#paymentTitle{
  text-align: center;
}

#amountField{
  padding: 7px;
  border-radius: 8px;
  font-size: 20px;
  width: 40vh;
}

#checkout-btn{
  background-color: turquoise;
  font-size: 18px;
  letter-spacing: .1em;
}

#checkout-btn:hover{
  scale: 1.03;
}